
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color:#4c4646;
    background-color: #E5E5E5;
    width: 100%;
    padding: 0px 5px;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    max-width: 350px;
}

.header{
    box-shadow: inset 0px 0px 20px 0px #5f64729e;
    background-color: #fff;
    padding: 17px 0px 17px;
    font-weight: 600;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;

}

.logo {
    scale: 1.5;
}


.menu {
    display: block;
    color: #4c4646;
    line-height: 1.6;
    text-shadow: -1px 3px 6px #c6d3c6;
    font-size: 36px;
}


.menu-item {
    padding-right: 20px;
}

.menu-contacts {
    font-size: 20px;
    line-height: 2;
    text-shadow: -1px 3px 6px #c6d3c6;
    justify-content: space-around;
}



.header_schedule {
    background-color: #3B3A63;
    border: 1px solid  #3B3A63;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.header_btn {
    background-color: #EF7F04;
    border: 1px solid  #EF7F04;
    color: white;
    font-weight: 600;
    padding: 10px;
    margin-right: 30px;
}
.header_btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.main{
    background-size: 117%;
    background: #E5E5E5 url(../img/main/bg.png) 0 0 no-repeat;
    color: white;
}

.title {
    font-size: 36px;
    line-height: 42px;
    max-width: 100%;
    margin-bottom: 60px;
    margin-left: 20px;
    font-weight: 200;
}


.wind-help {
    color: #EF7F04;
    font-weight: 600;
    font-size: 24px;
}
.product_description1{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
}

.material-desc, .material-desc1{
    width: 100%;
    display: block;
}

.elements-img img {
    width: 75px;
    height: 86px;
}

.title-elements{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}

.info-service-element-desc{
    text-transform: uppercase;
    color: #EF7F04;
}
.form{
    display: block;
    width: 350px;
    height: 428px;
    margin-left: 40px;
    padding: 43px 43px 66px 40px;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
}
.form-block{
    display: block;
    max-width: 266px;
    height: 350px;
    margin-left: 140px;
    padding: 43px 43px 66px 40px;
    text-align: center;
    margin-right: 20px;
    border-radius: 1rem;
    background-color: #ffffff;
}

.form-block2{
    display: block;
    width: 266px;
    height: 350px;  
    padding: 43px 43px 66px 40px;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
}


.form-block1{
    position: relative;
    display: block;
    width: 266px;
    height: 350px;
    margin: 0 auto;
    padding: 43px 43px 66px 40px;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
}
.block {
    display: block;
}


.row, .row1{
    display: flex;
    /* max-width: 1500px; */
    margin: 0 auto;
    justify-content: space-between;
}



.form-block h2,
.form-block1 h2,
.form-block2 h2 {
    color: #4c4646;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}


.form h2 {
    color: #4c4646;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}
.form-control,
.form-control1,
.form-control2 {
    color: #424268;
    border: 1px solid #E2E2E2;
    font-weight: 400;
    font-size: 14px;
    background-color: #E2E2E2;
    width: 260px;
    height: 40px;
    padding: 5px;
    margin-bottom: 30px;
}


.button {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 55px;
    padding: 19px 0;
    background-color: #EF7F04;
    border-radius: 3px;
    font-weight: 600;
    color: white;
    border: 1px solid  #EF7F04;
    
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.block {
    margin-left: 300px;
}

#form1, #form2{
    position: relative;
}
#form3, #form4{
    position: relative;
}

#form2{
    top: -36px;
    left: 140px;
    width: 0px;
}
#form4{
    top: -36px;
}

.form2-img{
    width: 350px;
}

.description{
    display: flex;
    justify-content: space-around;
    background-color: #3b3a63bd;
    box-shadow: 0px 0px 20px 5px #4141546e;
    line-height: 2rem;
    padding: 20px;
    border-radius: 5px;
}

.desc-item {
    text-align: center;
}
.desc-item p {
    margin: unset;
}

.desc-item span{
    font-size: 38px;
    text-shadow: 2px -2px 1px #2c1601;
    color: #EF7F04
}

.news {
    padding: 30px;
}
.news p {
    color: #4c4646;
    font-size: 16px;
    /* margin: 50px; */
    max-width: 100%;
    text-align: justify;
    text-indent: 2em;
}

.info-title {
    color: #2F2F51;
    font-weight: 600;
    font-size: 30px;
    margin: 100px 0 100px;
    text-align: center;
}
.elements-img {
    display: flex;
    justify-content: center;
}


/* <!------------------- stuff----------------!> */

.container-team, .container-team1{
    justify-items: center;
    color: rgb(65, 62, 62);
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.container-team1{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.team .feedback-info-title{
    margin-bottom: 60px;
    color:  rgb(78, 78, 78);
    text-align: center;
}
.card{
    width: 280px;
    height: 370px;
    padding: 2em 2em 4em 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:5px;
    box-shadow: 0px 0px 12px 0px rgb(185 172 172 / 61%);
}

.image-container{
    width: 140px;
    height: 140px;
    padding: 0.2em;
    /* padding: 0.5em; */
    margin-bottom: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 12px 0px rgb(185 172 172 / 61%);
}

.team-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    box-shadow: 0px 0px 12px 0px rgb(185 172 172 / 61%);
}
.card p{
    font-style: italic;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    border-radius: 100%;
    padding: 0.6em;
    text-decoration: none;
    color:  rgb(78, 78, 78);
    box-shadow: 0px 0px 12px 0px rgb(185 172 172 / 61%);
}
.card:hover .team-img{
    transition: all 0.2s linear;
    scale: 1.1;
}
.icon:hover {
    transition: all 0.2s linear;
    color: blue;
    scale: 1.1;
}

.feedback-info-title {
    color: #2F2F51;
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 60px 40px;
    text-align: center;
}
.info-company {
    display: flex;
    margin-bottom: 66px;
    background-color: white;
    justify-content: space-between;
}

.info-service-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
    justify-items: center;
}
.info-service{
    display: flex;
    padding: 20px;
    text-align: justify;
}

.info-service p {
    max-width: 207px;
    margin: 0px 0px 0px 20px;
     color: #4c4646;
    line-height: 26px;
    text-align: left;
}

.service-element,
.service-element1, 
.service-element2, 
.service-element3, 
.service-element4 {
    /* height: 300px; */
    width: 550px;
    margin: 40px 0px;
    padding: 40px;
    box-shadow: 0px 0px 20px 3px #42426861;
}

.service-element1{
    background: url(../img/main/Group21.png) 0 0 no-repeat;
background-size: cover;
}
.service-element2{
    background: url(../img/main/Group22.png) 0 0 no-repeat;
background-size: cover;
}
.service-element3{
    background: url(../img/main/Group23.png) 0 0 no-repeat;
background-size: cover;
}
.service-element4{
    background: url(../img/main/Group24.png) 0 0 no-repeat;
background-size: cover;
}

.service-elemet-block {
    display: flex;
    padding-bottom: 30px;
}
.our-service-block-element{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.our-service-block-element p{
    margin-left: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #2F2F51;
}

.service-element p2{
    /* display: block; */
    max-width: 300px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #2F2F51;
}

.material-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    color: #2F2F51;
    justify-items: center;
    
}

.material-pic{
    display: block;
    color: #2F2F51;
    font-size: 18px;
}
.pic {
    max-width: 350px;
    /* margin-bottom: 40px; */
    height: 400px;
    box-shadow: 0px 0px 12px 0px rgb(185 172 172 / 61%);
}

footer {
background-color: #2F2F51;
height: 100px;
text-align: center;
font-size: 16px;
font-weight: 400;
padding: 15px 0;
color: white;
margin: 0 auto;
}




.copyright p {
    display: flex;
    color: white;
  
}
.footer-block{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer-logo{
    margin-right: 40px;
}
.footer-text{
    padding: 25px;
    font-size: 16px;
}

.feedback{
    margin-top: 100px;
}

.feedback-block{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feedback-block .feedback-level{
    width: 35%;
}

.feedback-block .feedback-rating {
    flex-wrap: wrap;
    display: flex;
}

.feedback-block .feedback-rating .feedback-lines {
    width: 60%;
}
.feedback-block .feedback-rating .feedback-lines>span {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}
.feedback-block .feedback-rating .feedback-lines>span>span.n {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    text-align: right;
    padding-right: 7px;
    color: #ccc;
    font-weight: 600;
    font-size: 14px;
}
.feedback-block .feedback-rating .feedback-lines>span>span.col {
    display: inline-block;
    width: 80%;
    background-color: #EF7F04;
    height: 6px;
    border-radius: 5px;
}
.feedback-block .feedback-number {
    width: 40%;
}
.feedback-block .feedback-number .feedback-line-01{
    font-size: 3em;
    text-align: center;
    line-height: 1;
}
.feedback-block .feedback-number .feedback-stars{
    text-align: center;
}
.feedback-block .feedback-number .feedback-stars span{
    background-image: url(../img/stars.jpg);
    text-indent: -9999px;
    display: inline-block;
    width: 13px;
    height: 12px;
    background-size: cover;
}
.feedback-reviews{
    display: block;
}

.feedback-count{
    text-align: center;
}

.sale {
    padding: 7rem 0;
    background: #ffffff url(../img/sale/bg.jpg) center center no-repeat;
    background-size: cover;
  } 


  .sale-block{
    display: block;
    color: #2F2F51;
    font-size: 16px;
  }

.sale_title {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  .sale_subtitle {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
  }

  .timer1 {
    padding: 25px;
    /* border: 1px solid #8080802e; */
    background-color: #ffffff00;
    color: #575757;
    /* border-radius: 10px; */
    text-align: center;
    max-width: 360px;
    height: 180px;
  }

  
  .container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  
  }
  .numbers1 {
    display: block;
    float: left;  
    color: white;
    font-size: 40px;
  }
  
  .timer1 span{
    margin-right: 2px;
    background-color: #E2E2E2;
    border-radius: 7px;
    padding: 4px;
    color: #EF7F04;
    text-shadow: 2px -2px 1px #2c1601;
  }
  .description1{
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
    color: #575757;
  }


  #days, #hours, #minutes, #seconds{
    font-size: 50px;
  }

  .discount-widjet {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 30%;
    background: #fff;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 1px 8px 0px #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s;
}
.discount-widjet p {
    color: #2F2F51;
    margin: 10px;
    font-size: 38px;
    line-height: 1;
}
#disc-wid{
    font-size: 38px;
    text-shadow: 2px -2px 1px #2c1601;
    color: #EF7F04;
    font-weight: 600;
}

/* <!-----------------rating star--------------------!> */
.rating {
    display: flex;
  }
  .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('../img/main/star.png'); 
    background-size: cover;
    cursor: pointer;
  }
  .star.selected {
    background-color: #fdd835; 
  }

  .popup_close,
  .popup_engineer_close,
  .popup_calc_end_close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 3rem;
    color: #3B3A63;
    border: none;
    background: transparent;
  }
  .popup,
.popup_engineer,
.popup_calc_end {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    /* display: block; */
    transform: translate(-50%, -50%);
}

.status {
    color: blue;
    margin-top: 20px;
    font-size: 16px;
}

.discount-widjet{
	cursor: pointer;
	position: fixed;
	left: 0px;
	bottom: 15%;
	background: #fff;
	padding: 20px 40px 20px 20px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 3px 3px 10px #bebebe;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* transition: left .2s linear;
    z-index: 1; */
}


.close{
    display: flex;
    left: -180px;
    transition: left .2s linear;
    z-index: 1;
}

.discount-widjet p {
    margin: 0;
    color: #2F2F51;
    font-size: 25px;
    line-height: 1;
}



#disc-wid {
    color: #EF7F04;
}




---------Star Rating-------------------

.rating{
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
}
.rating.rating__set .rating__active,
.rating.rating__set .rating__item {
    cursor: pointer;
}

.ratig.rating__sending {
    opacity: 0.2;
}
.rating__body{
    position: relative;
}
.rating__body::before{
    content: '★★★★★';
    display: block;
}
.rating__active{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before{
    content: '★★★★★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   color: #ffd300
}
.rating__items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item{
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating__value{
    line-height: 1.4;
    padding: 0px 0px 0px 10px;
}
.timer1-text{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 60px;
}
.container-fotorama{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
}
.sale-block-form{
    margin-right: 20px;
}




@media (max-width: 1600px){
    .container{
        max-width: 1400px;
    }
    .block {
        margin-left: 20px;
    }
    .sale {
        background: #ffffff url(../img/sale/bg.jpg) top right no-repeat;
        background-size: cover;
 
    }
    .row1 {
        align-items: center;
    }
    .sale-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 18%;
        margin-bottom: 0px;
        max-width: 600px;
    }
    .sale_title {
        margin-bottom: 60px;
        font-size: 80px;
        margin-top: 20px;
    }
    .sale_subtitle {
        margin-bottom: 10%;
        text-align: center;
        margin-top: 10px;
        font-size: 40px;
        line-height: 60px;
        max-width: 100%;
    }
    .number {
        font-size: 40px;
        font-weight: bold;
    }
    .timer1 {
        max-width: 550px;
        height: 110px;
        padding: 10px;
        margin-bottom: 60px;

    }
    .timer1-text {
        font-size: 40px;
        margin-bottom: 35px;
        color: #2F2F51;
    }
    .container1 {
        margin-top: 50px;
        line-height: 30px;
    }
    #days, #hours, #minutes, #seconds {
        font-size: 70px;
    }
    .description1 {
        margin-top: 20px;
        font-size: 20px;
    }
    .sale-block-form {
        margin-left: 0px;
        margin-top: unset;
    }
    .form-block2 {
        width: 268px;
        height: 348px;
        margin-top: 50px;
        box-shadow: inset 0px 0px 20px 0px #5f64729e;
    }
    .timer1 span {
        margin-right: 15px;
    }
} 
@media (max-width: 1400px){
    .container{
        max-width: 1200px;
    }
    .block {
        margin-left: 20px;
    }
} 

@media (max-width: 1200px){
    .container, .container1{
        max-width: 1000px;
    }
    .header_btn {
        margin-right: unset;
    }
    .btn_stack {
        display: grid;
        gap: 20px;
    }
    .menu-item {
        padding-right: unset;
    }

    .form-block {
        margin-left: 0px}
        #form2 {
            left: 0px;
        }
        .service-element, .service-element1, .service-element2, .service-element3, .service-element4 {
            height: 200px;
            max-width: 390px;
        }
        .info-service-block {
            grid-template-columns: repeat(2, 1fr);
        }
        .pic {
            max-width: 300px;
            height: 350px;
        }
        .card {
            width: 210px;
        }
        .sale-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 17%;
            margin-bottom: 0px;
            max-width: 600px;
        }
        .sale-block-form {
            margin-left: 0px;
            margin-top: unset;
        }
        .sale_title {
            margin-bottom: 60px;
            font-size: 45px;
        
        }
  
        .timer1-text {
            font-size: 25px;
            margin-bottom: 35px;
            color: #2F2F51;
        }
        .container1 {
            margin-top: 20px;
        }
        
        .sale {
            background: #ffffff url(../img/sale/bg.jpg) top right no-repeat;
            background-size: 190%;
            padding: 0;
        }
        .sale_subtitle {
            margin-bottom: 0px;
            text-align: center;
            margin-top: 10px;
            font-size: 30px;
            line-height: 40px;
        }
        .number {
            font-size: 40px;
            font-weight: bold;
        }
        .row1 {
            align-items: center;
        }
       
        .timer1 {
            margin-top: 60px;
}
#days, #hours, #minutes, #seconds {
    font-size: 60px;
}
}
@media (max-width: 1000px){

    .menu {
        font-size: 60px;
    }
   
    .menu-contacts {
        font-size: 30px;
    }

    .nav{
        flex-direction: column;
    }
   
    .logo{
        scale: 2;
        margin: 30px 0 30px;
    }
    .menu{
        margin-bottom: 30px;
    }
    .btn_stack{
        display: flex;
        flex-direction: column;
    }

    .header_btn, .header_schedule{
        margin-right: 0;
        margin-bottom: 30px;
        height: 70px;
        width: 100%;
        font-size: 30px;
        background-size: 40px;
    }

    .row1 {
        align-items: center;
    }
    .row{
        flex-direction: column;
        align-items: center;   
    }
        .block {
            margin-left: 0px;
        }
    
    .form-block{
        margin-left: 0px;
        margin-right: unset;
    }
    #form2{
        left: 0px;
    }
    .main-form{
        margin-top: 80px;
    }

    .info-company{
        flex-direction: column-reverse;
    }
    .info-company-pic{
        display: contents;
    }
    .material-block{
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .pic{
        margin-bottom: 10px;
        max-width: 450px;
        height: 500px;
    }
    .material-pic{
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        line-height: 40px;
    }
    .material-desc p, .material-desc1 p{
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        font-weight: 200;
    }
    .contariner-team{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-team, .container-team1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .title-elements{
    justify-content: space-between;
    max-width: unset;
    margin: 0px 50px;
    align-items: center;
    gap: 30px;
    }
    .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
    margin-left: unset;
    margin-bottom: 100px;
    }
    .info-img {
        scale: 100%; 
        float: unset;
    }
    .card{
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 60px;
        width: 38%;
        height: auto;
    }
    .sale-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 17%;
        margin-bottom: 0px;
        max-width: 600px;

    }
    .sale{
        background: #ffffff url(../img/sale/bg.jpg) top right no-repeat;
        background-size: 190%;
        padding: 0;
    }
    .sale_title{
        margin-bottom: 60px;
        font-size: 45px;
        margin-top: 20px;
    }
    .sale_subtitle{
        margin-bottom: 5%;
        text-align: center;
        margin-top: 10%;
        font-size: 30px;
        line-height: 40px;
    }
    p {
        max-width: 450px;
    }
    .timer1-text{
        font-size: 25px;
        margin-bottom: 35px;
        color: #2F2F51;
    }
    #days, #hours, #minutes, #seconds {
        font-size: 45px;
    }
    .container1 {
        margin-top: 20px;

    }
    .timer1 {
        max-width: 550px;
        height: 110px;
        padding: 10px;
        margin-bottom: 60px;
        /* margin-top: unset; */
    }
    .description1 {
        margin-top: 20px;
    }
    .timer1 span {
        margin-right: 10px;
    }
    .form-block2 {
        box-shadow: inset 0px 0px 20px 0px #5f64729e;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-logo {
        margin-right: 0px;
        scale: 0.5;
    }
    .footer-text {
        padding: 0px; 
        font-size: 12px;
    }
    .footer-block {
        margin-top: unset;
    }
    .container-fotorama{
        align-items: unset;
        margin-bottom: 60px;
    }
    .menu-item {
        padding-right: 0px;
    }

    .wind-help {
        font-size: 50px;
    }
    .material-desc, .material-desc1 {
        width: 140px;
    }
    /* .discount-widjet {
        position: fixed;
        left: 0px;
        bottom: 15%;
        background: #fff;
        padding: 20px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 3px 3px 10px #bebebe;
        transition: left .2s linear;
    } */
    /* .discount-widjet:hover {
        left: -150px;
    } */
    .desc-item p{
        font-size: 30px;
        line-height: 40px;
        margin: 10px;
    }
    .desc-item span {
        font-size: 35px;
    }
    .description {
        line-height: 1.6;
        padding: 20px;
        gap: 20px;
    }
   
    .number{
        font-size: 40px;
        font-weight: bold;
    }

    .form-block2 {
        width: 268px;
        height: 348px;
        margin-top: 50px;
    }

    .sale-block-form {
        margin-left: 0px;
        margin-top: unset;
    }
    .our-service-block-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: unset;
}
.our-service-block-element p {
    font-size: 35px;
}
.service-element, .service-element1, .service-element2, .service-element3, .service-element4 {
    height: 300px;
    max-width: unset;
}
.service-element p2 {
    width: 450px;
    font-size: 30px;
    line-height: 40px;
}
.news p {
    font-size: 30px;
    line-height: 40px;
    margin: 0px 30px 50px;
    max-width: 100%;
    margin-top: 30px;
}
.info-service {
    padding: 30px;
    max-width: 50%;
}
.info-service p {
    margin: 0px 0px 0px 20px;
    line-height: 40px;
    font-size: 30px;
    max-width: 80%;
    text-align: left;
}
.info-service-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elements-img {
    display: flex;
    justify-content: center;
}
.material-desc, .material-desc1 {
    width: 100%;
}
}

@media (max-width: 768px){

    .desc-item p {
        font-size: 20px;
        line-height: 25px;
        margin: unset;
    }

    .sale-block-form {
        margin-top: unset;
    }
    .sale_title {
        margin-bottom: unset;
        font-size: 60px;
        line-height: 40px
    }
    .sale-block {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .row1{
        flex-direction: column;
        align-items: center;   
    }
    .number {
        font-size: 35px;
        font-weight: bold;
    }
    .timer1 {
        padding: 10px;
        margin-top: unset;
    }

    #days, #hours, #minutes, #seconds {
        font-size: calc(40px + (5 + 5 * 0.7) * ((100vw - 768px) / 1600));
    }
    .container1 {
        margin-top: 20px;
    }
    .numbers1 {
        display: block;
        float: left;
        color: white;
        font-size: 30px;
    }
    .description1 {
        margin-top: 10px;
        font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 768px) / 1600));
    }
    .sale {
        background-size: 190%;
    }
    .row {
        flex-direction: column;
        align-items: center;
        margin-left: unset;
    }
    .info-service-pic {
        max-width: 89px;
    }

    .material-desc, .material-desc1 {
        width: 100%;
    }
    .title {
        margin-bottom: 60px;
    }
    p {
        max-width: 450px;
    }
    .info-service {
        padding: 30px;
        max-width: 100%;
    }
    .title-elements {
        margin: unset;
    }
    .info-service p {
        line-height: 30px;
        font-size: 25px;
    }
}



@media (max-width: 450px){

    main{
        width: unset;
    }
    .nav{
        flex-direction: column;
    }
    .logo{
        scale: 2;
        margin: 30px 0 30px;
    }
    .menu{
        margin-bottom: 30px;
    }
    .btn_stack{
        display: flex;
        flex-direction: column;
    }
 
    .row, .row1 {
        flex-direction: column;
        align-items: center;
    }
    .block{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .form-block{
        margin-left: 0px; 
         max-width: 220px;
    }
   
    #form2{
        left: -148px;
    }
    .form2-img {
        width: 300px;
    }   
    .main-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-company{
        flex-direction: column-reverse;
    }
    .info-company-pic{
        display: contents;
    }
    .material-block{
        flex-direction: column;
        align-items: center;
    }
    .pic{
            margin-bottom: 10px;
            max-width: 350px;
            height: 450px;
    }
    .popup_close, .popup_engineer_close, .popup_calc_end_close {
        top: 1rem;
        right: 2rem;
        font-size: 3rem;
    }

    .news p {
        margin-top: 10px;
    }
    .product_description{
        max-width: 78%;
        font-size: 20px;
        line-height: 30px;
    }
    .material-pic{
        margin-bottom: 60px;
    }
    .contariner-team{
        flex-direction: column;
        align-items: center;
    }
    .title-elements{
        display: grid;
        gap: 80px;
        margin-top: 40px;
    }

    .card {
        font-size: 20px;
        line-height: 25px;
        width: 50%;
        padding: 20px 40px 50px;
    }
    .card p {
           font-size: 20px;
           margin: 10px;
        }
        h3 {
            margin: 10px;
        }
   
    .news p {
        font-size: 20px;
        line-height: 30px;
    }

    .material-desc p, .material-desc1 p {
        font-size: 20px;
        font-weight: 400;

    }

    .sale-block{
        margin-left: 120px;
        margin-top: unset;
        font-size: calc(25px + (5 + 5 * 0.7) * ((100vw - 450px) / 1600));

    }
    .sale{
        background: #ffffff url(../img/sale/bg.jpg) top right no-repeat;
        background-size: 170%;
        padding: 0;
    }
    .pic {
        height: 350px;
        width: 100%;
    }
   
    .sale_subtitle{
    margin-bottom: 0px; 
    text-align: center;
    font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 450px) / 1600));
    line-height: 20px;
    }
    .timer1-text {
        font-size: calc(18px + (2 + 2 * 0.7) * ((100vw - 450px) / 1600));
        margin-bottom: 5%;
    }
    #days, #hours, #minutes, #seconds {
        font-size: calc(35px + (5 + 5 * 0.7) * ((100vw - 450px) / 1600));
    }
    .container1 {
        margin-top: 20px;

    }
    .timer1 {
        max-width: 270px;
        height: 110px;
    }
  
    .description1 {
        font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 450px) / 1600));
    }
    .form-block2 {
        box-shadow: inset 0px 0px 20px 0px #5f64729e;
        margin-top: unset;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-logo {
        margin-right: 0px;
        scale: 0.5;
    }
    footer {
        padding: 0px;
    }
  
    .container-fotorama{
        align-items: unset;
        margin-bottom: 60px;
    }
    .menu-item {
        padding-right: 0px;
    }

    .wind-help {
        font-size: 50px;
    }
    .material-desc, .material-desc1 {
        width: 100%;
    }
    .material-desc1 {
        color: #4c4646;
    }
    /* .discount-widjet {
        position: fixed;
        left: 0px;
        bottom: 15%;
        background: #fff;
        padding: 20px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 3px 3px 10px #bebebe;
        transition: left .2s linear;

    }
    .discount-widjet:focus {
        left: -150px;
    } */
    .desc-item p{
        font-size: 18px;
        line-height: 1.2;
    }
    .desc-item span {
        font-size: 25px;
    }
    .description {
        line-height: 1.6;
        padding: 12px;
    }
    .timer1 {
        padding: 10px;
        margin-top: unset;
        margin-left: 10px;
    }
    .number{
        font-size: 25px;
        font-weight: bold;
    }

    .form-block2, .form-block, .form-block1 {
        width: 220px;
        height: 348px;
    }
    .sale_title {
        line-height: unset;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: calc(35px + (15 + 15 * 0.7) * ((100vw - 450px) / 1600)); 
    }
  
    .service-element p2 {
        max-width: 380px;
        font-size: 20px;
        line-height: 30px;
    }
    .service-element, .service-element1, .service-element2, .service-element3, .service-element4 {
        background-size: 500px 400px;
        width: unset;
        height: unset;
    }

    .info-service {
        max-width: 400px;
            padding: 5px;
}

.info-service-block {
    gap: 50px;
}

footer {
    width: unset;
}
.info-service-pic {
    max-width: 89px;
}
.form-control, .form-control1, .form-control2 {
    color: #424268;
    border: 1px solid #E2E2E2;
    font-weight: 400;
    font-size: 14px;
    background-color: #E2E2E2;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 30px;
}
#form2, #form4 {
    top: -30px;
}

}
@media (max-width: 420px){
    .header_btn, .header_schedule {
        font-size: calc(25px + (5 + 5 * 0.7) * ((100vw - 420px) / 1600));
        height: 100%;
        margin-bottom: 20px;
    }
    .menu {
        font-size: calc(50px + (10 + 10 * 0.7) * ((100vw - 420px) / 1600));
    }   
    .title {
        font-size: calc(40px + (10 + 10 * 0.7) * ((100vw - 420px) / 1600));
    }
    .wind-help {
        font-size: calc(40px + (10 + 10 * 0.7) * ((100vw - 420px) / 1600));
    }
    .sale-block {
        line-height: calc(18px + (4 + 4 * 0.7) * ((100vw - 420px) / 1600));
        margin-bottom: unset;
    }
    .pic {
        height: 350px;
        width: 100%;
    }
    .info-service-pic {
        max-width: 89px;
    }
    .material-desc p, .material-desc1 p {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .form-control, .form-control1, .form-control2 {
        color: #424268;
        border: 1px solid #E2E2E2;
        font-weight: 400;
        font-size: 14px;
        background-color: #E2E2E2;
        width: 100%;
        height: 40px;
        padding: 5px;
        margin-bottom: 30px;
    }
    .sale_title {
        font-size: calc(30px + (5 + 5 * 0.7) * ((100vw - 420px) / 1600));
    }
    #form2, #form4 {
        top: -30px;
    }   
   
}
@media (max-width: 375px){
    .header_btn, .header_schedule {
        font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 375px) / 1600));
    }
    .menu {
        font-size: calc(40px + (20 + 0 * 0.7) * ((100vw - 375px) / 1600));
    }
    .menu-contacts {
        font-size: 25px;
    }
    .title {
        font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 375px) / 1600));
    }
    .wind-help {
        font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 375px) / 1600));
    }
    .pic {
        height: 350px;
        width: 100%;
    }
    .info-service-pic {
        max-width: 90px;
    }
    .material-desc p, .material-desc1 p {
        font-size: calc(18px + (2 + 2 * 0.7) * ((100vw - 375px) / 1600));
        
    }
    .sale-block-form {
    margin-right: unset;
    }
    .form-control, .form-control1, .form-control2 {
        color: #424268;
        border: 1px solid #E2E2E2;
        font-weight: 400;
        font-size: 14px;
        background-color: #E2E2E2;
        width: 100%;
        height: 40px;
        padding: 5px;
        margin-bottom: 30px;
    }
    .info-service p {
        font-size: 20px;
    }
    .sale_title {
        font-size: calc(25px + (5 + 5 * 0.7) * ((100vw - 375px) / 1600));
    }
    .timer1-text {
        font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 375px) / 1600));
    }
    #days, #hours, #minutes, #seconds {
        font-size: calc(30px + (5 + 5 * 0.7) * ((100vw - 375px) / 1600));
    }
    .description1 {
        font-size: calc(12px + (2 + 2 * 0.7) * ((100vw - 375px) / 1600));
        margin-top: unset;
    }
    .sale-block {
        line-height: calc(12px + (6 + 6 * 0.7) * ((100vw - 375px) / 1600));
    }
    #form2 {
        top: -30px;
    }
}
@media (max-width: 300px){

    .header_btn, .header_schedule {
        font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 300px) / 1600));
    }
    .menu {
        font-size: calc(40px + (20 + 20 * 0.7) * ((100vw - 300px) / 1600));
    }
    .material-desc, .material-desc1 {
        width: 280px;
    }
    .title {
        max-width: 280px;
    }
    .form-block2, .form-block, .form-block1 {
        width: 200px;
        height: 348px;
        padding: 43px 43px 66px 40px;
    }

    .form-control, .form-control1, .form-control2 {
        color: #424268;
        border: 1px solid #E2E2E2;
        font-weight: 400;
        font-size: 14px;
        background-color: #E2E2E2;
        width: 100%;
        height: 40px;
        padding: 5px;
        margin-bottom: 30px;
    }
    .form2-img {
        width: 284px;
    }

    #form2 {
        top: -30px;
        left: -141px;
        width: 0px;
    }
    .info-service {
        max-width: 280px;
    }
    .info-service-element-desc{
        font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 300px) / 1600));
    }
    .info-service p {
        font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 300px) / 1600));
    }
    .info-service {
        padding: 5px;
    }
    .description {
        display:grid;
        gap: 15px;
        padding: 30px;
    }
    .pic {
        height: 350px;
        width: 100%;
    }
    .sale-block {
        margin-left: 60px;
        line-height: 1%
    }
    .timer1 { 
        margin-bottom: unset;
    }
    #form4 {
        top: -30px;
    }
    .sale_subtitle{
        font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 300px) / 1600));
        margin-top: 8%;
    }
    .title-elements {
        margin: unset;
    }
  
    .news p {
        margin: 15px;
    }
    .info-service-pic{
        max-width: 89px;
    }
    .material-desc p, .material-desc1 p {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .sale_title {
        font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 300px) / 1600));
        margin-top: 6%;
    }
    #days, #hours, #minutes, #seconds {
        font-size: calc(25px + (5 + 5 * 0.7) * ((100vw - 300px) / 1600));
    }
    .description1 {
        font-size: calc(10px + (2 + 2 * 0.7) * ((100vw - 300px) / 1600));
    }
    .container1 {
        margin-top: 3%;
    }
    .desc-item p {
        font-size: 20px;
}
.card {
    font-size: 18px;
    
}
}

